html {
    box-sizing: border-box;
}

*,
::before,
::after {
    box-sizing: inherit;
  }

      


p {
    font-family: 'PlayFair-Display';
    font-weight: 400;
    font-size: 14px;
}

/*PlayFair-Display*/
@font-face {
    font-family: 'PlayFair-Display';
    src: url(fonts/PlayfairDisplay-VariableFont_wght.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Ubuntu font */
@font-face {
    font-family: 'Ubuntu';
    src: url(fonts/Ubuntu-light.ttf) format('truetype');
    font-weight: 300;
    font-style:  normal;

}

body {
    font-family: 'PlayFair-Display';
    font-size: 14px;
    line-height: 1.72;
    color: #626262;
}

.wrapper {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.container {
    max-width: 930px;
    margin: 0 auto;
    padding: 0 15px;
     
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

header {
    padding: 74px 0;
}

.nav-list {
    text-align: center;
    text-transform: uppercase;
    color: #626262;
    
     
}

.nav-item {
    display: inline-block;
    vertical-align: middle;
    list-style: none;
    
}
.nav-item + .nav-item {
    padding-left: 110px;
     
}

.nav-link:hover {
    color: crimson;
}
.nav-link {
    color: #626262;
    font-family:'PlayFair-Display';
    font-size: 14px;
}

.nav-link:hover  {
color: #25b4f5 ;
}


.cards {   
    letter-spacing: -.34em;
    margin: 0 -30px;
    
}

.card {
    display: inline-block;
    vertical-align: middle;
    width: 50%;
    padding: 0 30px 30px;
    letter-spacing: 0;
}

.card-img {
    margin-bottom: 30px;
}

 

.card h2 {
    font-size: 30px;
    margin: 30px 0;
    font-family: 'PlayFair-Display';
    font-weight: 400;
}

 
a {
    text-decoration: none;
    color: #b4ad9e;
    font-family: 'Ubuntu';
    font-weight: 300;
    text-transform: uppercase;
}


  

.button {
    margin-top: 20px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
     
}


.btn {
    font-size: 20px;
    line-height: 1;
    border: 1px solid #777777;
    padding: 20px 40px;
    color: #777777;
    text-transform: none;
    font-family: 'PlayFair-Display';

          
}